/* helpers/accessibility.css */

.invisible {
  left: -999px;
  overflow: hidden;
  position: absolute;
  top: -999px;
}

/* helpers/align.css */

.align {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* layout/base.css */

html {
  height: 100%;
}

body {
  background-color: #82a8ee;
  margin: 0;
  min-height: 100%;
}

/* modules/anchor.css */

a {
  outline: 0;
}

/* modules/icon.css */

.icons {
  display: none;
}

.icon {
  display: inline-block;
  fill: #97adc6;
  font-size: 16px;
  font-size: 1rem;
  height: 1em;
  vertical-align: middle;
  width: 1em;
}

.icon--2x {
  font-size: 32px;
  font-size: 2rem;
}

/* modules/image.css */

svg {
  max-width: 100%;
}

/* modules/navigation.css */

.navigation {
  background-color: #f0f6ff;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 14;
}

.navigation a {
  display: block;
  padding: 24px;
  padding: 1.5rem;
  position: relative;
  text-decoration: none;
}

.navigation a:focus::after {
  background-color:rgba(0, 0, 211, .2);
}
.navigation a:hover::after {
  opacity: 1;
  background-color:rgba(0, 0, 0, .2);
}

.navigation a::after {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
          box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .3);
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  width: 100%;
}

.navigation--inline ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
