@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

:root {
    --cursor-color: #33b8cc;
    --cursor-color-shadow: rgba(51, 184, 204, 0.5);
    --cursor-default-color: gray;
    --border-menu: #151515;
    --background-active-link: #202020;
    --background-default-link: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    position: absolute;
    top: 10PX;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: 45px;
    z-index: 50;
}

#menu ul {
    list-style: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 90px;
    width: 95px;
border: 4px ridge rgba(80, 80, 80, 1);
  background: -webkit-gradient(linear, left top, left bottom, 
  color-stop(0%,#ccc6c3), 
  color-stop(24%,#828c95), 
  color-stop(41%,#000000), 
  color-stop(100%,#7f7f7f)); 
    transition: all 0.5s;
 
  box-shadow:   0 1px 0 rgba( 255, 255, 255, 0.4);
border-bottom: 0.5rem solid;
border-top: 0.5rem solid gray;
}

#menu li:nth-of-type(1) {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

#menu li:last-of-type {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}

#menu li:hover {
    cursor: pointer;

    text-shadow: 0 0 10px red
}

#menu a {
    display: inline-block;
    color: var(--cursor-default-color);
    text-decoration: none;
    font-size: 40px;
    transition: all 0.5s;
}

#menu li.active {
    background: var(--background-active-link);
    border-top: none;
   border-bottom: none;
     background: linear-gradient( #555, #2C2C2C);
      box-shadow: 1px 1px 10px black inset, 
                 0 1px 0 rgba( 255, 255, 255, 0.4)          
                 
}

#menu .active-text {
margin-top:10px;
    color:#00BFFF;
    text-shadow: 0 0 25px blue;
}

#menu a:hover {
    color:#FFFBF0;
    text-shadow: 0 0 10px red;
}
