@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");

:root {
    --cursor-color: #33b8cc;
    --cursor-color-shadow: blue;
    --cursor-default-color: white;
    --border-menu: #151515;
    --background-active-link: #202020;
    --background-default-link: #151515;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#menu {
    position: absolute;
    top: 10PX;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    border-radius: 45px;
    z-index: 50;
}

#menu ul {
    list-style: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#menu li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    height: 90px;
    width: 95px;
border: 4px ridge rgba(80, 80, 80, 1);
  background: -webkit-gradient(linear, left top, left bottom, 
  color-stop(0%,#ccc6c3), 
  color-stop(24%,#828c95), 
  color-stop(41%,#000000), 
  color-stop(100%,#7f7f7f)); 
    transition: all 0.5s;
 
  box-shadow:   0 1px 0 rgba( 255, 255, 255, 0.4);
border-bottom: 1rem solid;
border-top: 0.2rem solid gray;
}

#menu li:nth-of-type(1) {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#menu li:last-of-type {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#menu li:hover {
    cursor: pointer;
    color: #33b8cc;
    text-shadow: 0 0 10px red;
}

#menu a {
    display: inline-block;
color: gray;
background: #666666;
-webkit-background-clip: text;
-moz-background-clip: text;
background-clip: text;
text-shadow:  0px 4px 4px  rgba(0,0,0,0.9);
    
    
    font-size: 40px;
    transition: all 0.5s;
}

#menu li.active {

    background: var(--background-active-link);
border: 4px ridge rgba(80, 80, 80, 1);
  background: -webkit-gradient(linear, left top, left bottom, 
  color-stop(0%,#ccc6c3), 
  color-stop(40%,#828c95), 
  color-stop(60%,#000000), 
  color-stop(100%,#7f7f7f)); 
    transition: all 0.5s;
 
  box-shadow:   0 1px 0 rgba( 255, 255, 255, 0.4);
border-bottom: 2px solid black;
border-top: 0.2rem solid gray;
}
        
                 

#menu .active-text {
	margin-top:10px;
    color:var(--cursor-color);
    text-shadow: 0 0 15px var(--cursor-color-shadow);
}

