@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway);

/*///////////////////////////Cadres///////////////////////////*/
:root {
--fontsizecadre51 = 20px;
  --cadre-couleurcadre51: white;
  --lumcadre-couleurcadre51: #ff8c00;
  --cursor-colorcadre51: #ffffff;
--couleurfondcadre51 :  #a4a1a1;
 
  --border-menucadre51: #151515;
 --degrader1cadre51: #878a87;
  --degrader2cadre51: #404240;
  --degraderfondcadre51 :255, 0, 238;
--imagedefondcadre51: url(/../data/custom/themes/cadre/img/F10.png);
--cadrecadre51: url(/../data/custom/themes/cadre/img/77.png);

}
            
      
#cadre51 {
margin-top: 10px;
 
 width: 100%;
height: calc(100% - 10px);            
border: 2px solid  var(--cadre-couleurcadre51);
 border-radius:20px;
        
background-image:var(--imagedefondcadre51);

background-repeat:no-repeat;
background-size: 100% 100%;
border-image-source:var(--cadrecadre51);
border-image-slice:30;
	
border-image-width:auto;
border-image-repeat: Strech round;
      }
            

            
#titre51 {
position:static;
font-family:sans-serif ;
color: var(--cursor-colorcadre51);					
text-align: center;
text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 1px #141414,
     1px 1px 1px #141414,
     1px 1px 3px #141414,
     1px 1px 4px #141414,
     1px 1px 5px #141414,
     1px 1px 6px #141414,
     1px 1px 9px #141414;color:var(--cadre-couleurcadre51);
border-radius:10PX;
border: 2px inset var(--cadre-couleurcadre51);
font-size: var(--fontsizecadre51);
font-weight: bolt;
margin-right : 35px;
margin-left : 35px;
margin-top: 10px;

border-radius:5PX;
background: linear-gradient(180deg,var(--degrader1cadre51)20%,var(--degrader2cadre51) 80%,var(--degrader1cadre51)100%);
 
  background-image: radial-gradient(circle at 50% 30px, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0) 20px, grey);
}  
       
#contenu51 {
  height: 100%;          
}
          
#picture51 {
margin : -20px;
background:radial-gradient(var(--degrader1cadre51), var(--degrader2cadre51) );
border-radius:40%;
height:45px;
width:45px;
border: 2px inset var(--cadre-couleurcadre51);
text-align:center;
position: absolute; bottom: 0; left:50%; 
color: var(--cursor-colorcadre51);					
font-size: x-large;
line-height:41px; 
}          
